<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "New Bird Entry | Birdwatch"}) %>
<body>
  <nav class="sidebar">
    <a href="/">Your Entries</a>
    <a href="/welcome">Static HTML</a>
  </nav>
  
  <main>
    <h2 class="center">Create a new bird entry</h2>

    <form action="/birds" method="POST">
      <input type="text" name="name" placeholder="Bird Name" required /><br/>
      <input type="text" name="slug" placeholder="Slug" required /><br/>
      <input type="date" name="date" placeholder="Date" required /><br/>
      <input type="time" name="time" placeholder="Time" required /><br/>
      <input type="text" name="user" placeholder="User" required /><br/>
      <input type="text" name="img" placeholder="Image URL"/><br/>
      <button>Save</button>
    </form>
  </main>
</body>
</html>
